compiler.exclude.filter=
dependent.projects=
jar.file.name=%PROJECT_NAME*
manifest.file.name=${jar.file.name}
manifest.implementation-version.attribute=${project.version}
manifest.main-class.attribute=
